EssentialFeed.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
EssentialFeed.xcodeproj/project.xcworkspace/xcuserdata/petartumba.xcuserdatad/IDEFindNavigatorScopes.plist
EssentialFeed.xcodeproj/project.xcworkspace/xcuserdata/petartumba.xcuserdatad/UserInterfaceState.xcuserstate
EssentialFeed.xcodeproj/project.xcworkspace/xcuserdata/petartumba.xcuserdatad/WorkspaceSettings.xcsettings
EssentialFeed.xcodeproj/xcuserdata/petartumba.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
